@import url("./Satoshi_Complete/Fonts/WEB/css/satoshi.css");



/*start css of full-web-maintain part */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: "Satoshi_Complete" ,sans-serif;
}

.side-gap{
    width: 95%;
    margin: 0 auto;
}

/* start of variable */
:root{
    /* color property start */
    --white:#ffffff;
    --white2:#E4E4E7;
    --white3:#FCFCFC;
    --white4:#E4E4E7;
    --black:#18181B;
    --black2:#18181B;
    --gray:#70707B;
    --gray1:#F4F4F5;
    --gray3:#D1D1D6;
    --gray4:#A0A0AB;
    --gray-dark:#51525C;
    --red:red;
    --green:green;
    --hover-bg-color:rgb(77, 252, 185);
    --hover-color:white;
    /* color property end */
    /* size property  start*/
    --large-size:6.5rem;
    --medium1:4rem;
    --medium2:3.25rem;
    --small:3rem;
    --x-small1:2.5rem;
    --x-small2:2rem;
    --x-small3:1.5rem;
    --x-small4:1.3rem;
    --location-gap:0.5rem;
    --default-size:1rem;
    --font-weight1:100;
    --font-weight2:700;
    /* size property end */
}
/* end of variable */


a{
    text-decoration: none;
}

/*end css of full-web-maintain part */


/* start css of header */
header{
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.18rem;
}

.logo-name{
    display: flex;
    align-items: center;
    gap: 1%;
    font-size: var(--x-small3);
    font-weight: var(--font-weight2);
    color: var(--black);
}

.logo-name p{
    padding-left: 0.5rem;
}


header nav{
    display: flex;
    gap: 2rem;
}

header nav a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--gray-dark);
    font-weight:100;
    position: relative;
    transition: color 0.8s ease ;
}

/* start hover and animation */

header nav a:hover span{
    color: var(--hover-bg-color);
}


.rotate{
    animation: rotate 2s linear  infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


nav a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--green);
    transition: width  0.3s ease-out;
}

nav a:hover::after{
    width: 100%;
}

.contact-btn button{
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 0.625rem 1.125rem;
    border-radius: 0.375rem;
    transition: background-color 0.3s ease , color 0.3s ease ;
}

.contact-btn button:hover{
    background-color: var(--hover-bg-color);
    color: var(--white);
}


 .three-dot{
    display: none;
}

/* end hover and animation */
/* end css of header */



/* start of hero part */
.hero-part{
    margin-top: 5rem;
}
.list-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--medium2);
}

.list-text h2{
    font-weight: var(--font-weight1);
    font-size: var(--medium2);
}

.list-text p{
    line-height: 1.5;
    font-size: var(--default-size);
    width: 45%;
    color: var(--gray);
}

.hero-img{
    width: 100%;
    border-radius: 1rem;
    display:flex;
    overflow: hidden;
}

.hero-img img{
    width: 100%;
}


/* start animation part of hero section */

.list-text h2{
    position: relative;
    animation: move-left 1s ease-in-out forwards ;
 }
 
 @keyframes move-left{
    from{
         left:-430px;
     }
     to{
         left: 0px;
     }
 }




 .list-text p{
    position: relative;
    animation: move-right 1s  ease-in-out forwards ;
 }

 @keyframes move-right{
    from{
         right:-500px;
     }
     to{
         right: 0px;
     }
 }


/* end animation part of hero section */
/* end of hero part */

/*start of statistic part */
.statistic-body{
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
}

.statistic-body h1{
    position: relative;
    font-size: var(--medium1);
    font-weight: var(--font-weight1);
    margin-bottom: 1.25rem;
}

.statistic-body svg{
    position: absolute;
    top: 18px;
}

.statistic-body i{
    font-size: var(--x-small4);
    font-weight: var(--font-weight1);
    color: var(--gray4);
}
/*end of statistic part */



/* details part and faq part both are same */
/* start of details part */

.faq-part{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    gap: 3%;
}

.faq-texts h2{
    font-size: var(--medium2);
    font-weight: var(--font-weight1);
}

.faq-texts{
    width: 55%;
}

.faq-part p{
    line-height: 2;
    margin-top: 1rem;
    color: var(--gray-dark);
    font-weight: var(--font-weight1);
}

.faq-img{
    width: 45%;
    border-radius: 1rem;
    overflow: hidden;
}



.faq-img img{
    width: 100%;
    height: 100%;
}
/* end of details part */


/* start of bank part */

.bank-body{
    margin-top: 8rem;
}
.bank-body h2{
    font-size: var(--x-small1);
    font-weight: var(--font-weight1);
    text-align: center;
    margin-bottom: 5rem;
}

.all-bank{
    font-weight: var(--font-weight1);
    display: flex;
    justify-content: space-between;
    color: var(--gray-dark);
    gap: 1%;
    overflow: hidden;
    flex-wrap: wrap;
}



.all-bank .bank1{
    width: 15%;
    display: flex;
}

.all-bank img{
    width: 100%;
    height: 100%;
}

.all-bank h3{
    position: relative;
    font-size: var(--x-small3);
    text-wrap:wrap;
}

.all-bank p{
    font-size:1rem;
}


.bank-texts{
    padding-top: 6rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}

.bank-texts h3{
    font-size: var(--medium2);
    font-weight: var(--font-weight1);
}


.bank-texts P{
    color: var(--gray-dark);
    width: 40%;
    line-height: 1.5;
}

.hr-div hr{
    margin-bottom: 5rem;
    border: 1px solid var(--white2);
}

/* end of bank part */

/* start of testimonial part */



.texts-image{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.texts-image .left-text{
    width: 50%;
    height: 100%;
}

.texts-image .left-text svg{
    margin-bottom: 1rem;
}

.texts-image .line-div{
    display: flex;
    align-items: center;
    gap: 0.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.line-div span{
    font-size: var(--x-small4);
}

.left-text h3{
    width: 100%;
    font-weight: var(--font-weight1);
    font-size: var(--medium2);
}

.left-text p{
    font-size: var(--x-small2);
    margin-top:1rem ;
    line-height: 1.5;
    color: var(--gray-dark);
}

.texts-image .line{
   width: 2rem;
   height: 0.2rem;
   background-color: var(--black);
}

.three-line{
    margin-top: 1rem;
    display: flex;
    gap: 1%;
}

.three-line .black{
    width: 5rem;
    height: 0.5rem;
    border-radius:1rem;
    background-color: var(--black);
}
.three-line .white{
    width: 5rem;
    height: 0.5rem;
    border-radius:1rem;
    border: 1px solid var(--white4);
    background-color: var(--white4);
}

.testimonial-img{
    width: 40%;
    overflow: hidden;
    display: flex;
    border-radius: 1rem;
    border-radius: 1rem;

}

.testimonial-img img{
    width: 100%;
    height: 100%;
}
/* end of testimonial part */



/* details part and faq part both are same */
/* start of faq part */
.faq-section  .faq-part{
    display: flex;
    justify-content: space-between;
    gap: 4.47%;
}

  .faq-section  .img-text{
    width: 41.56%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.faq-section   .img-text h2{
    font-size: var(--medium1);
    font-weight: var(--font-weight1);
}

.faq-section   .img-text p{
    line-height: 1.5;
}


 .faq-section  .img-text .left-img{
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
}

.faq-section   .left-img img{
    width: 100%;
    height: 100%;
    height: fit-content;
}

 .faq-section   .only-texts{
    width: 56.06%;
}

.faq-section   .only-texts h5{
    font-size: var(--x-small3);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-weight: var(--font-weight1);
}

.faq-section    .only-texts i{
    font-size: 1rem;
    color: var(--gray4);
}

.faq-section    .only-texts p{
   margin-bottom: 3.1rem;
   display: flex;
   justify-content: space-between;
   line-height: 1.5;
}
/* end of faq part */



/* start of footer part */

footer{
    background-color: var(--black);
    color: var(--white);
    padding-top: 5rem;
    margin-top: 3rem;
}

.footer-body{
    width: 90%;
    margin: 0 auto;
}

.information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.information span{
    color: var(--gray4);
}

.left-info{
    width: 60%;
}

.phone-general{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.office{
    width: 50%;
}

.left-info h3{
    font-size: var(--x-small1);
    font-weight: var(--font-weight1);
}

.address{
    display: flex;
    gap: 3%;
    margin-top: 3rem;line-height: 2;
}

.right-info{
    display: flex;
    justify-content: space-between;
    width:35%;
    gap: 3%;
}


.navigation{
    width: 60%;
}


.all-nav{
    display: flex;
    justify-content: space-between;
}

.all-nav .nav1{
    margin-top: 1rem;
}

.social-link{
    width: 45%;
    display: flex;
    flex-direction: column;
}


.right-info a{
    color: var(--white1);
}

.social-link .slink{
    margin-top: 1rem;
    color: var(--white);
}



.footer-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}


footer .logo-name{
    color: var(--white);
}


footer .back-arrow svg {
    margin-left: 0.5rem;
}

.right-info a{
    transition: color 0.3s ease;
}
footer .right-info a:hover{
    color: var(--hover-bg-color);
}


.footer-text .back-arrow a{
    color: var(--white);
}

.footer-text .back-arrow a:hover{
   color: var(--hover-bg-color);
}

/* end of footer part */







    /* start css for Medium devices (tablets) */
    @media only screen and (min-width: 767.99px) and (max-width: 991.98px){



        .side-gap{
            width: 90%;
        }

       /* header start */
       header nav {
        gap: 1rem;
        }

        .hero-text h1 {
            font-size:var(--medium2);
        }
        /* header end */

        /* start of hero part */

        .list-text h2 {
            font-size: var(--small);
        }
        /* end of hero part */


        /* start details part  */

        .faq-part {
            flex-direction: column;
        }

        .faq-texts {
            width: 100%;
        }

         .details .faq-texts h2 {
            font-size: var(--small);
        }


        .faq-img {
            width: 100%;
            margin-top: 2rem;
        }
        /* end details part  */

        /* start of bank part */

        .bank-texts h3 {
            font-size: var(--small);
        }
        /* end of bank part */

        /* start of testimonial part */

        .left-text h3 {
            font-size: var(--small);
        }
        /* end of testimonial part */

        /* start of faq part */

        .faq-section .img-text {
            width:100%;
        }

        .faq-section img{
            display: none;
        }


        .faq-section .only-texts {
            width: 100%;
        }
        /* end of faq part */




        /* footer part start */
        .address{
            flex-direction: column;
        }

        .address .office{
            width: 100%;
        }


        .social-link {
            display: block;
        }
        /* footer part end */

    }     
    /* end css for Medium devices (tablets) */


    /*  start css for mobail */
    @media only screen and (min-width: 0px) and (max-width: 575.98px){


        .side-gap{
        width: 92%;
        margin: 0 auto;
        }   
    
    
        /* start of header */
    
        header nav{
            display: none;
        }
        header button{
            display: none;
        }
    
        header .three-dot{
            display: block;
        }
        /* end of header */

        /* start of hero part */
        .list-text {
            flex-direction: column;
        }

        .list-text h2 {
            font-size: var(--x-small2);
        }

        .list-text p {
            padding-top: 1rem;
            width: 100%;
        }
        /* end of hero part */

        /* start of statistic  part */

        .statistic-body {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        /* end of statistic  part */

        /* start of details part  */

        .faq-part {
            flex-direction: column;
        }

        .faq-texts h2 {
            font-size: var(--small);
        }

        .faq-texts {
            width: 100%;
        }

        .faq-img {
            margin-top: 2rem;
            width: 100%;
        }
        /* end of details part  */


        /* start of bank part */


        .bank-texts {
            padding-top: 3rem;
            margin-bottom: 3rem;
            flex-direction: column;
        }

        .bank-texts h3 {
            font-size: var(--small);
        }

        .bank-texts P {
            width: 100%;
        }

        .all-bank .bank1 {
            width: 45%;
            padding-top: 2rem;
        }

        /* end of bank part */

        /* start  testimonial part */

        .texts-image {
            flex-direction: column;
        }

        .texts-image .left-text {
            width: 100%;
        }

        .left-text h3 {
            font-size: var(--small);
        }

        .left-text p {
            font-size: var(--x-small3);
        }

        .testimonial-img {
            width: 100%;
            margin-top: 2rem;
        }
        
        /* end  testimonial part */

        /*start faq part  */

        .faq-section .img-text h2 {
            font-size: var(--small);
        }

        .faq-section .img-text {
            width: 100%;
        }

        .faq-section .img-text .left-img {
            display: none;
        }

        .faq-section .only-texts {
            width: 100%;
        }
        /*end faq part  */










        





        /* start of footer */

        .address{
            flex-direction: column;
        }
            
        .phone-general{
            width: 100%;
            justify-content: start;
            gap: 8%;
        }


        .office{
            width: 100%;
        }

        .information {
            flex-direction: column;
        }


        .left-info {
            width: 100%;
        }

        .left-info h3 {
            width: 100%;
        }


        .right-info{
            width: 100%;
            flex-direction: column;
        }

        .navigation{
            width: 100%;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        .all-nav{
            justify-content: start;
            gap: 8%;
        }

        .social-link {
            width: 100%;
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 5%;
            flex-wrap:wrap;
        }

        .slink{
            display: inline-block;
            color: var(--white);
        }



        .footer-text {
            flex-direction: column;
        }

        .copyright{
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        /* end of footer */


    }     
    /*  end css for mobail */